services:
  api-v1:
    build:
      context: .
      dockerfile: src/api/v1/Dockerfile 
    deploy:
      replicas: 3
    expose:
      - "8000"
    networks:
      - monitoring_net
  
  api-v2:
    build:
      context: .
      dockerfile: src/api/v2/Dockerfile 
    deploy:
      replicas: 1
    expose:
      - "8000"
    networks:
      - monitoring_net

  nginx:
    build:
      context: deployments/nginx
      dockerfile: Dockerfile
    container_name: nginx_revproxy
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./deployments/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./deployments/nginx/.htpasswd:/etc/nginx/.htpasswd:ro
      - ./deployments/nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - api-v1
    networks:
      - monitoring_net

  nginx_exporter:
    image: nginx/nginx-prometheus-exporter:latest
    container_name: nginx_exporter
    ports:
      - "9113:9113"
    depends_on:
      - nginx
    environment:
     SCRAPE_URI: https://nginx/nginx_status
    networks:
      - monitoring_net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus_server
    ports:
      - "9090:9090"
    volumes:
      - ./deployments/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    depends_on:
      - nginx
    networks:
      - monitoring_net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana_dashboard
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./deployments/grafana/provisioning:/etc/grafana/provisioning:ro
      - ./deployments/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring_net

volumes:
  prometheus_data:
  grafana_data:

networks:
  monitoring_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24 # on fixe le masque de sous réseau pour le réutiliser directement dans nginx.conf